<div class="container col-sm-11">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h2>Search Emergencies</h2>
    </div>

    <div class="search-bar p-2 mb-3">
        <input type="text" class="form-control" placeholder="Search by Passenger Name">
    </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ride</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Pickup</th>
                    <th>Dropoff</th>
                    <th>Passenger</th>
                    <th>Driver</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emergency of emergencies">
                    <td>{{ emergency.pushedBy }}</td>
                    <td>{{ emergency.date }}</td>
                    <td>{{ emergency.time }}</td>
                    <td>{{ emergency.rideData.pickup }}</td>
                    <td>{{ emergency.rideData.dropoff }}</td>
                    <td>{{ emergency.rideData.passengerName }}</td>
                    <td>{{ emergency.rideData.driverName }}</td>
                    <td>{{ emergency.reason }}</td>
            </tbody>
        </table>
    </div>
</div>