<div class="container col-sm-11">

    <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
        <h2>Emergencies</h2>
    </div>

    <div class="p-2 mb-3">
        <input type="text" class="form-control search-box" placeholder="Search by Driver or Passenger Name" [(ngModel)]="searchQuery" (input)="searchEmergencies()">
    </div>
    <div class="custom-alert" *ngIf="showAlert" (click)="closeAlert()">
        <div class="alert-content">
          <h3 class="txt-center">Ride Details</h3>
          <div [innerHTML]="alertMessage"></div>
          <button (click)="closeAlert()">Close</button>
        </div>
      </div>

    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ride</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Pushed By</th>
                    <th>Pickup</th>
                    <th>Dropoff</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emergency of emergencies let i = index" (click)="showRideDetails(emergency)">
                    <td>{{ i + 1 }}</td>
                    <td>{{ emergency.date }}</td>
                    <td>{{ emergency.time }}</td>
                    <td>{{ emergency.username }}</td>
                    <td>{{ emergency.rideData.pickup }}</td>
                    <td>{{ emergency.rideData.dropoff }}</td>
                    <td>{{ emergency.reason }}</td>
            </tbody>
        </table>
    </div>
</div>