body {
    background-color: #f7faf7;
}

.navbar {
    background-color: #f7faf7;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.container {
    padding-top: 20px;
}

.search-bar {
    background-color: #e5f5e9;
    border-radius: 10px;
}

.search-bar input {
    background-color: #e5f5e9;
    border: none;
    box-shadow: none;
}

.filter-btn {
    background-color: #e5f5e9;
    color: #000;
    font-weight: 600;
}

table thead {
    background-color: #e5f5e9;
    font-weight: 600;
}

table tbody tr {
    background-color: #fff;
    border-radius: 10px;
}

.table-container {
    overflow-x: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.filter-btn:hover{
    background-color: black;
    color: white;

}

.anc-btn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }

  .custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .alert-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
  }
  
  .alert-content h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
    justify-content: space-between;

  }
  
  .alert-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    justify-content: space-between;

  }
  
  .alert-content button {
    background-color: #e5f5e9;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .alert-content button:hover {
    background-color: black;
    color: white;
  }
  
  .custom-alert .alert-content {
    animation: fadeIn 0.3s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .notification-container {
    width: 500px;
    /* height: 300px; */
    /* background-color: red; */
    position: absolute;
    /* left: -100%; */
    right: 20px;
  }
  
  .notification {
    background-color: #e5f5e9;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .notification-action {
    background-color: #c6f1d0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  