<div class="container col-sm-11">
  <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
    <h2>Fraud History</h2>
  </div>

  <div class="p-2 mb-3">
    <input
      type="text"
      class="form-control search-box"
      placeholder="Search by Name"
      [(ngModel)]="searchQuery"
      (input)="searchFrauds()"
    />
  </div>

  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ride</th>
          <th>Date</th>
          <th>Time</th>
          <th>Fraudster</th>
          <th>Driver</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fraud of Frauds; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ fraud.date }}</td>
          <td>{{ fraud.time }}</td>
          <td>{{ fraud.fraudster }}</td>
          <td>{{ fraud.driver }}</td>
          <td>{{ fraud.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
