<div class="container">
    <div class="container mt-4 pt-4">
        <div class="row">
            <div class="">
                <div class="card custom-card p-4">
                    <h1>Fare Controls</h1>

                    <h3 class="mt-4 ">Set Fare Controls</h3>

                    <form>
                    <div class="mb-3 mt-2">
                        <label class="form-label">Petrol Price</label>
                        <input type="number" required="true" [(ngModel)]="petrolRate" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Per Liter Petrol Price PKR">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Liters per KM</label>
                        <input type="number" required="true" class="form-control" [(ngModel)]="litersPerMeter" [ngModelOptions]="{standalone: true}" placeholder="Enter Fuel Milage Liters per KM">
                    </div>
                    <div class="text-end">
                        <button type="submit" (click)="update()" class="btn btn-save filter-btn">Save changes</button>
                    </div>
                </form>

                </div>
                
            </div>
    </div>
    <div class="mt-4 card custom-card p-4">
    <h3>Current Conrols</h3>
    <div class="row">
        <table class="table table-striped mb-3 ps-4">
            <thead>
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Petrol Price per Liter</td>
                    <td>{{fareControls.petrolRate}}</td>
                </tr>
                <tr>
                    <td>Liters per KM</td>
                    <td>{{fareControls.litersPerMeter*1000}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

</div>